.content {
    display: flex;
    flex-wrap: wrap;
}



@media screen and (min-width:500px){
     .header_logo {
        height: 100px;
        margin-right: 0.5em;
    }
    .header_title {
/*        margin-right: 0;*/
        font-size: 1.5em;
        vertical-align: bottom;
    }
    .featured_title {
    display: block;
    font-weight: 200;
    font-size: 3em;
}
    .project_item {
        width: 50%;
        display: inline;
        margin: auto;
       
    }
    .project_item span {
    display: block;
    font-size: 2.5em;
}
 
  
}

@media screen and (min-width:750px){
    .header_logo {
        height: 150px;
        margin-right: 0.5em;
    }
    .header_title {
        font-size: 2.5em;
    }
    .featured_title {
    display: block;
    font-weight: 200;
    font-size: 4em;
}
    .project_item {
        width: 33%;
        display: inline;
        margin: auto;
    }
    .project_item span {
        display: block;
        font-size: 3em;
    }
}

@media screen and (min-width: 850px){
    .content {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}
